    body { font-family: 'Helvetica Neue', Arial, sans-serif; }
    @media print {
        .no-print { display: none !important; }
        body { padding: 0; background: white; }
        .container { width: 100%; max-width: none; box-shadow: none; padding: 0; }
    }
    /* 数式用スタイル - Beautiful Math CSS */
    .math-display { 
        font-family: 'Times New Roman', Times, serif; 
        font-style: italic; 
        text-align: center;
        background-color: #ffffff;
        border: 1px solid #e2e8f0;
        border-radius: 0.5rem;
        padding: 1rem;
        margin: 1rem 0;
        overflow-x: auto;
        font-size: 1.1em;
        line-height: 2;
    }
    .math-inline {
        font-family: 'Times New Roman', Times, serif; 
        font-style: italic;
        padding: 0 0.1em;
    }
    .fraction { 
        display: inline-flex; 
        flex-direction: column; 
        align-items: center; 
        vertical-align: middle; 
        margin: 0 0.3em; 
        font-size: 0.9em;
    }
    .fraction > span:first-child { 
        border-bottom: 1px solid #334155; 
        padding: 0.1em 0.2em; 
        display: block;
        width: 100%;
        text-align: center;
    }
    .fraction > span:last-child { 
        padding-top: 0.1em;
        display: block;
        width: 100%;
        text-align: center;
    }
    .sub { font-size: 0.7em; vertical-align: sub; margin-left: 0.05em; font-style: normal; }
    .sup { font-size: 0.7em; vertical-align: super; margin-left: 0.05em; font-style: normal; }
    .op { margin: 0 0.3em; font-style: normal; }
    .func { font-style: normal; margin-right: 0.2em; }
    .integral { font-size: 1.5em; vertical-align: middle; margin-right: 0.1em; font-style: normal; }
